<h1>New Attraction</h1>
<% if @attraction.errors.any? %>
  <div id="error-explanation">
    <ul>
      <% @attraction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @attraction do |f| %>
  <%= render :partial=>'form', :locals=>{:f=>f} %>
  <%= f.submit %>
<% end %>
